@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap');
.App {
  text-align: center;
}


.logo {

  font-family: 'Lobster', cursive;
  color:#FBEEC1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open{
animation-name:sideBar;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
}
.close{
  animation-name:close;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

}
.side{
  height: 100vh;
  background:red;
  position:absolute;
  left:-80px;
}

@keyframes sideBar{
  from {
    transform:translateX(-80px)
  }
  to{
    transform:translateX(80px)
  }
}
@keyframes close {
  from{transform:translateX(80px)}
  to{transform:translateX(-80px)}
}
a{
  text-decoration:none;

}
.bibli-card{
  
}
.disabled{
  pointer-events:none;
  color: grey;
}
ol li{
  text-align:left;
  font-size:12px;
}
.my-card-title{
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;}
  a{
    outline-style:none;
  }
  .navbar-nav{
    position:relative
  }
  .navbar-nav a::after{
    display:none;
    background:white;
    content:"";
    height:1px;
    width:0px;
  }
  .navbar-nav a:hover:after{
    height:1px;
    width:100%;
    content:"";
    display:block;
    background:white;
    transition: width 2s ease 2s;
    padding:0px;
    margin:0px
  }
  .bibli-bg{
    background: #303179
  }
  .bibli-btn{
    background:#141850;
    color:rgb(196, 196, 196);
  }
  .bibli-btn:hover{
    color:black;
    background:none;
    border:solid 1px #141850;
    transition:background 1s ease, color 1s ease;
  }